.library {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 150px, 1fr ) );
  grid-template-rows: 1fr;
  grid-gap: 1.25em;

  justify-content: space-around;
  align-items: center;

  max-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
