.library {
  margin: 1em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 150px, 1fr ) );
  grid-template-rows: 1fr;
  grid-gap: 1.25em;

  justify-content: space-around;
  align-items: center;

  max-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.groupName {
  grid-column: 1 / -1;

  position: sticky;
  top: 2.75em;
  z-index: 3;
}

.groupName h2 {

  background: linear-gradient(
    to bottom right,
    hsl( 0, 50%, 75% ),
    hsl( 0, 50%, 40% )
  );

  width: 1em;
  height: 1em;

  box-shadow: 0px 5px 10px var(--drop-shadow-light-color);

  margin: 0;
  padding: 0.5em;

  text-align: center;
}
